<header class="header" id="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__text">Logiq</span><span class="logo__dot">-</span>Tap
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Home</a></li>
        <li><a href="./#about" class="nav__link">Chi Siamo</a></li>
        <li><a href="./#services" class="nav__link">Servizi</a></li>
        <li><a href="./#innovation" class="nav__link">Innovazione</a></li>
        <li><a href="./#blog" class="nav__link">Blog</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--primary">Contattaci</a>
      <button class="burger" id="burger-menu" aria-label="Menu">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>

<div class="mobile-menu" id="mobile-menu-overlay">
  <div class="mobile-menu__container">
    <ul class="mobile-menu__list">
      <li><a href="./#home" class="mobile-link">Home</a></li>
      <li><a href="./#about" class="mobile-link">Chi Siamo</a></li>
      <li><a href="./#services" class="mobile-link">Servizi</a></li>
      <li><a href="./#innovation" class="mobile-link">Innovazione</a></li>
      <li><a href="./#blog" class="mobile-link">Blog</a></li>
      <li><a href="./#contact" class="mobile-link btn btn--primary">Contattaci</a></li>
    </ul>
  </div>
</div>